* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

/* Shared Style */
.container {
  width: 80%;
  margin: 0 auto;
}

/* Header Style */
header {
  background-color: #d5d2d2;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.left_logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.left_logo p {
  color: blue;
  font-size: 1.2rem;
}
.right_menu ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
.right_menu li {
  list-style: none;
}
.right_menu a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  padding: 30px 20px;
  border-radius: 1px;
}
.right_menu a:hover {
  background-color: rgb(206, 158, 158);
}
/* Banner Area Style */
.banner {
  height: 100vh;
  background-image: url("./asset/image/background.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_info {
  width: 60%;
  text-align: center;
  color: white;
}
.banner_info > h1 > span {
  color: red;
}
.banner_info h1 {
  font-size: 5.5rem;
}
.banner_info p {
  font-size: 1.2rem;
  margin: 1.5rem 0;
}
.banner_info button {
  padding: 0.9rem 1.5rem;
  font-size: 1.1rem;
  margin-left: 0.8rem;
  border: none;
}
.banner_info button:first-of-type {
  background-color: red;
  color: white;
}

/* Service area Style */
.service_area {
  height: 100vh;
  background-image: url("./asset/image/service-bg.png"),
    linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  color: white;
  display: flex;
  align-items: center;
}
.service_info {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.service_left_info button {
  padding: 0.9rem 2.2rem;
  border: none;
  border-radius: 50px;
  color: #7a7c7a;
}
.service_left_info span {
  color: red;
}
.service_left_info h1 {
  font-size: 3rem;
  margin: 1.5rem 0;
}
.service_left_info p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
.service_left_info li {
  margin-left: 1rem;
  font-size: 1.2rem;
}
.service_left_btm,
.author_info {
  margin-top: 1rem;
  display: flex;
  gap: 10px;
  align-items: center;
}
.author_info img {
  width: 100px;
  border-radius: 50%;
}

.service_left_info button:last-child {
  color: red;
}
.author_btn {
  display: flex;
  align-items: center;
  border-left: 1px solid red;
  height: 100px;
  margin-left: 50px;
  padding-left: 20px;
}

.service_right_info img {
  width: 100px;
  margin-bottom: 30px;
}
.card {
  background-color: white;
  width: 280px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  color: black;
}
.service_right_info {
  display: flex;
  gap: 10px;
}
